<table style="width:50%;" border="1" width="100%">
    <tr>
        <td>Classroom id</td>
        <td>Classroom Name</td>
        <td>Actions</td>
    </tr>
{% for i in list %}
    <tr>
        <td>{{ i.id }}</td>
        <td>{{ i.Name }}</td>
        <td><a href="{{ path('app_classroomRemove',{'id': i.id})}}">Delete
        <a href="{{ path('app_classroomShow',{'id': i.id})}}">Show
        <a href="{{ path('app_classroomUpdate',{'id': i.id})}}">Update</td>
    </tr>
{% endfor %}
</table>
<a href="{{ path('app_classroomAdd')}}"><button style="margin:10px">Add Classroom</button></a>
<a href="{{ path('app_studentList')}}"><button>Students list</button></a>
<a href="{{ path('app_classroomList')}}"><button>Classrooms list</button></a>
<a href="{{ path('app_clubList')}}"><button>Clubs list</button></a>