<style>
div{
    font-size: 25px;
}
input{
    width:150px;
    height:30px;
    margin:10px;
    border:medium solid blue;
    border-radius:10px;
    background-color:cyan;
}
</style>
<div>
{{form_start(formA)}}
{{form_label(formA.email)}}
{{form_widget(formA.email)}}
{{form_label(formA.classroom)}}
{{form_widget(formA.classroom)}}
{{form_label(formA.club)}}
{{form_widget(formA.club)}}
{{form_widget(formA.Add)}}
{{form_end(formA)}}
</div>

<a href="{{ path('app_studentList')}}"><button>Back to list</button></a>